{{> navbar logged=logged }}

<div class="margin-top-wrapper">
    <div class="container">
        <div class="col-12" id="posts">
            <div class="card post">
                <div class="card-body">
                    <div class="container post-body-top-div">
                        <div class="dp-div">
                            <img src="{{commentsCollection.dpUrl}}" alt="">
                        </div>
                        <a href="/profile-logged" class="text-decoration-none">
                            <h3 class="post-username">{{{commentsCollection.postUser}}}</h3>
                        </a>
                    </div>
                    <h2 class="post-title">
                        <a href="post-logged.html" class="text-decoration-none text-reset">
                            {{commentsCollection.title}}
                        </a>
                    </h2>

                    <p class="card-text post-body-text">
                        {{commentsCollection.postBody}}
                    </p>


                    <div class="col post-actions-div">
                        <div class="score-count-div">
                            <p class="score-count upvote-count">{{commentsCollection.postUpCount}}</p>
                        </div>
                        <i class="bi bi-arrow-up-short post-icon h1" ></i>
                        <div class="score-count-div">
                            <p class="score-count downvote-count">{{commentsCollection.postDownCount}}</p>
                        </div>
                        <i class="bi bi-arrow-down-short post-icon h1" ></i>
                        <a data-bs-toggle="modal" data-bs-target="#edit-post-modal">
                            <i class="bi bi-pencil edit-icon post-icon h5 ms-4 post-edit-flag"></i>
                        </a>
                        <a data-bs-toggle="modal" data-bs-target="#delete-post-modal">
                            <i class="bi bi-trash post-icon h5 ms-4"></i>
                        </a>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="comment-section">
                <h1 class="comment-section">Comments</h1>
                {{#if logged}}
                {{> comment-box}}
                {{/if}}


                <div id="comments">
                    {{#each commentsCollection.comments}}
                    <div class="card post">
                        <div class="card-body">
                            <div class="container post-body-top-div">
                                <div class="dp-div">
                                    <img src="{{dpUrl}}" alt="">
                                </div>
                                <a href="/profile-logged" class="text-decoration-none">
                                    <h3 class="post-username">{{user}}</h3>
                                </a>
                                {{#if isEdited}}
                                <p class="edit-indicator">Edited</p>
                                {{/if}}
                            </div>
                            <p class="card-text post-body-text">
                                {{commentContent}}
                            </p>
                            <div class="col post-actions-div">
                                <div class="score-count-div">
                                    <p class="score-count upvote-count">{{upCount}}</p>
                                </div>
                                <i class="bi bi-arrow-up-short post-icon h1"></i>
                                <div class="score-count-div">
                                    <p class="score-count downvote-count">{{downCount}}</p>
                                </div>
                                <i class="bi bi-arrow-down-short post-icon h1"></i>
                                <a data-bs-toggle="modal" data-bs-target="#reply-modal">
                                    <i class="bi bi-reply post-icon h3"></i>
                                </a>
                            </div>
                        </div>

                        {{#if replies.length}}
                        <div class="replies">
                            <div class="card post reply">
                                {{#each replies}}
                                <div class="card-body">
                                    <div class="container post-body-top-div">
                                        <div class="dp-div">
                                            <img src="{{dpUrl}}" alt="">
                                        </div>
                                        <a href="/profile-logged" class="text-decoration-none">
                                            <h3 class="post-username">{{user}}</h3>
                                        </a>
                                    </div>
                                    <p class="card-text post-body-text">
                                        <span class="reply-tag">
                                            <a href="/profile-logged">
                                                {{repliedTo}}
                                            </a>
                                        </span>
                                        {{replyContent}}
                                    </p>
                                    <div class="col post-actions-div">
                                        <div class="score-count-div">
                                            <p class="score-count upvote-count">{{upCount}}</p>
                                        </div>
                                        <i class="bi bi-arrow-up-short post-icon h1"></i>
                                        <div class="score-count-div">
                                            <p class="score-count downvote-count">{{downCount}}</p>
                                        </div>
                                        <i class="bi bi-arrow-down-short post-icon h1"></i>
                                        <div>
                                        </div>
                                        <a data-bs-toggle="modal" data-bs-target="#reply-modal">
                                            <i class="bi bi-reply post-icon h3"></i>
                                        </a>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>

            <!-- Marker Post edit modal -->
            <form action="">
                <div class="modal fade modal-xl" id="edit-post-modal" tabindex="-1" aria-labelledby="editBioModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Edit Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea name="text-field" id="edit-post-title-area" class="form-control"
                                    rows="1"></textarea>
                            </div>
                            <div class="modal-body">
                                <textarea name="text-field" id="edit-post-text-area" class="form-control"
                                    rows="10"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Marker Reply modal -->
            <form action="">
                <div class="modal fade modal-xl" id="reply-modal" tabindex="-1" aria-labelledby="editBioModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Reply</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea name="text-field" id="edit-reply-comment-text-area" class="form-control"
                                    rows="10"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Marker Comment/reply edit modal -->
            <form action="">
                <div class="modal fade modal-xl" id="edit-reply-comment-modal" tabindex="-1"
                    aria-labelledby="editBioModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Edit</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea name="text-field" id="edit-reply-comment-text-area" class="form-control"
                                    rows="10"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <!-- Marker Post delete modal -->
            <form action="">
                <div class="modal fade modal-md" id="delete-post-modal" tabindex="-1"
                    aria-labelledby="editBioModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Delete Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <!-- Marker Comment and reply delete modal -->
            <form action="">
                <div class="modal fade modal-md" id="delete-reply-comment-modal" tabindex="-1"
                    aria-labelledby="editBioModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Delete Comment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>



    </div>
</div>