{{> navbar logged=logged currUserObject=currUserObject}}

<div class="margin-top-wrapper">
    <div class="container">
        <div class="col-12" id="posts">
            <div class="card post">
                <div class="card-body">
                    <div class="container post-body-top-div">
                        <div class="group">
                            <div class="dp-div">
                                <img src="{{thePost.dpUrl}}" alt="">
                            </div>
                            <a href="/users/{{thePost.user}}/posts" class="text-decoration-none">
                                <h3 class="post-username">{{thePost.user}}</h3>
                            </a>
                            {{#if thePost.isEdited}}
                            <p class="edit-indicator">Edited</p>
                            {{/if}}
                        </div>
                        <div class="tag">
                            <p>{{thePost.tag}}</p>
                        </div>
                    </div>
                    <h2 class="post-title">
                        <a href="/posts/{{thePost._id}}" class="text-decoration-none text-reset">
                            {{thePost.title}}
                        </a>
                    </h2>

                    <p class="card-text post-body-text">
                        {{thePost.postContent}}
                    </p>


                    <div class="col post-actions-div">
                        {{!-- Post --}}
                        <form action="" method="post" class="actions-form">
                            <div class="score-count-div">
                                <p class="score-count upvote-count">{{thePost.upCount.length}}</p>
                            </div>
                            <i class="bi bi-arrow-up-short post-icon h1 upvote-button {{#if (hasVoted thePost.upCount currUserObject._id)}}active-up{{/if}}" data-post-id="{{thePost._id}}"></i>
                            <div class="score-count-div">
                                <p class="score-count downvote-count">{{thePost.downCount.length}}</p>
                            </div>
                            <i class="bi bi-arrow-down-short post-icon h1 downvote-button {{#if (hasVoted thePost.downCount currUserObject._id)}}active-up{{/if}}" data-post-id="{{thePost._id}}"></i>
                        </form>

                        {{#if (eq thePost.user currUserObject.username)}}
                        {{!-- Put --}}
                        <form action="" method="put" class="actions-form">
                            <a data-bs-toggle="modal" data-bs-target="#edit-post-modal">
                                <i class="bi bi-pencil edit-icon post-icon h5 ms-4 post-edit-flag"></i>
                            </a>
                        </form>


                        {{!-- Delete --}}
                        <form action="" method="delete" class="actions-form">
                            <a data-bs-toggle="modal" data-bs-target="#delete-post-modal">
                                <i class="bi bi-trash post-icon h5 ms-4"></i>
                            </a>
                        </form>
                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="comment-section">
                <h1 class="comment-section">Comments</h1>
                {{#if logged}}
                {{> comment-box}}
                {{/if}}
                <div id="comments">

                    {{#each thePost.comments}}
                    <div class="card post">
                        <div class="card-body" value={{_id}}>
                            <div class="container post-body-top-div">
                                <div class="group">
                                    <div class="dp-div">
                                        <img src="{{dpUrl}}" alt="">
                                    </div>
                                    <a href="/users/{{user}}/posts" class="text-decoration-none">
                                        <h3 class="post-username">{{user}}</h3>
                                    </a>
                                    {{#if isEdited}}
                                    <p class="edit-indicator">Edited</p>
                                    {{/if}}
                                </div>

                            </div>
                            <p class="card-text post-body-text">
                                {{commentContent}}
                            </p>
                            <div class="col post-actions-div">
                                <div class="score-count-div">
                                    <p class="score-count upvote-count">{{upCount.length}}</p>
                                </div>
                                <i class="bi bi-arrow-up-short post-icon h1 comment-upvote-button {{#if (hasVoted upCount ../currUserObject._id)}}active-up{{/if}}" data-comment-id="{{_id}}"></i>
                                <div class="score-count-div">
                                    <p class="score-count downvote-count">{{downCount.length}}</p>
                                </div>
                                <i class="bi bi-arrow-down-short post-icon h1 comment-downvote-button {{#if (hasVoted downCount ../currUserObject._id)}}active-up{{/if}}" data-comment-id="{{_id}}"></i>

                                <a data-bs-toggle="modal" data-bs-target="#reply-modal">
                                    <i class="bi bi-reply post-icon h3"></i>
                                </a>


                                {{#if (eq user ../currUser)}}
                                <a data-bs-toggle="modal" data-bs-target="#edit-comment-modal">
                                    <i class="bi bi-pencil edit-icon post-icon h5 ms-4 post-edit-flag"
                                        value={{_id}}></i>
                                </a>

                                <a data-bs-toggle="modal" data-bs-target="#delete-reply-comment-modal">
                                    <i class="bi bi-trash post-icon h5 ms-4"></i>
                                </a>
                                {{/if}}

                            </div>
                        </div>

                        {{#if replies.length}}
                        <div class="replies">
                            <div class="card post reply">
                                {{#each replies}}
                                <div class="card-body" value={{_id}}>
                                    <div class="container post-body-top-div">
                                        <div class="group">
                                            <div class="dp-div">
                                                <img src="{{dpUrl}}" alt="">
                                            </div>
                                            <a href="/users/{{user}}/posts" class="text-decoration-none">
                                                <h3 class="post-username">{{user}}</h3>
                                            </a>
                                        </div>

                                    </div>
                                    <p class="card-text post-body-text">
                                        <span class="reply-tag">
                                            <a href="/users/{{removeAt repliedTo}}/posts">
                                                {{repliedTo}}
                                            </a>
                                        </span>
                                        {{replyContent}}
                                    </p>
                                    <div class="col post-actions-div">
                                        <div class="score-count-div">
                                            <p class="score-count upvote-count">{{upCount.length}}</p>
                                        </div>
                                        <i class="bi bi-arrow-up-short post-icon h1 reply-upvote-button {{#if (hasVoted upCount ../../currUserObject._id)}}active-up{{/if}}" data-reply-id="{{_id}}"></i>
                                        <div class="score-count-div">
                                            <p class="score-count downvote-count">{{downCount.length}}</p>
                                        </div>
                                        <i class="bi bi-arrow-down-short post-icon h1 reply-downvote-button {{#if (hasVoted downCount ../../currUserObject._id)}}active-up{{/if}}" data-reply-id="{{_id}}"></i>
                                        <div>
                                        </div>

                                        <a data-bs-toggle="modal" data-bs-target="#reply-modal">
                                            <i class="bi bi-reply post-icon h3"></i>
                                        </a>

                                        {{#if (eq user ../../currUser)}}
                                        <a data-bs-toggle="modal" data-bs-target="#edit-comment-modal">
                                            <i class="bi bi-pencil edit-icon post-icon h5 ms-4 post-edit-flag"
                                                value={{_id}}></i>
                                        </a>

                                        <a data-bs-toggle="modal" data-bs-target="#delete-reply-comment-modal">
                                            <i class="bi bi-trash post-icon h5 ms-4"></i>
                                        </a>
                                        {{/if}}

                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}

                </div>
            </div>

            <!-- Marker Post edit modal -->
            <form action="">
                <div class="modal fade modal-xl" id="edit-post-modal" tabindex="-1" aria-labelledby="editBioModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Edit Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea name="title-field" id="edit-post-title-area" class="form-control"
                                    rows="1"></textarea>
                            </div>
                            <div class="modal-body">
                                <textarea name="tag-field" id="edit-post-tag-area" class="form-control"
                                    rows="1"></textarea>
                            </div>
                            <div class="modal-body">
                                <textarea name="body-field" id="edit-post-text-area" class="form-control"
                                    rows="10"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Marker Reply modal -->
            <form action="">
                <div class="modal fade modal-xl" id="reply-modal" tabindex="-1" aria-labelledby="editBioModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Reply</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea name="text-field" id="edit-reply-comment-text-area" class="form-control"
                                    rows="10"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Edit comment modal -->
            <form action="">
                <div class="modal fade modal-xl" id="edit-comment-modal" tabindex="-1"
                    aria-labelledby="editBioModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Edit comment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea name="text-field" id="edit-comment-text-area" class="form-control"
                                    rows="10"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Marker Comment/reply edit modal -->
            <form action="">
                <div class="modal fade modal-xl" id="edit-reply-comment-modal" tabindex="-1"
                    aria-labelledby="editBioModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Edit</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea name="text-field" id="edit-reply-comment-text-area" class="form-control"
                                    rows="10"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <!-- Marker Post delete modal -->
            <form action="">
                <div class="modal fade modal-md" id="delete-post-modal" tabindex="-1"
                    aria-labelledby="editBioModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Delete Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="delete-post">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <!-- Marker Comment and reply delete modal -->
            <form action="">
                <div class="modal fade modal-md" id="delete-reply-comment-modal" tabindex="-1"
                    aria-labelledby="editBioModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Delete Comment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>



    </div>
</div>