{{> navbar logged=logged currUserObject=currUserObject}}

<div class="margin-top-wrapper">
    <div class="container">
        <div class="col-12" id="posts">
            <div class="card post">
                <div class="card-body">
                    <div class="container post-body-top-div">
                        <div class="group">
                            <div class="dp-div">
                                <img src="{{thePost.dpUrl}}" alt="">
                            </div>
                            <a href="/users/{{thePost.user}}/posts" class="text-decoration-none">
                                <h3 class="post-username">{{thePost.user}}</h3>
                            </a>
                            {{#if thePost.isEdited}}
                            <p class="edit-indicator">Edited</p>
                            {{/if}}
                        </div>
                        <div class="tag">
                            <p>{{thePost.tag}}</p>
                        </div>
                    </div>
                    <h2 class="post-title">
                        <a href="/posts/{{thePost._id}}" class="text-decoration-none text-reset">
                            {{thePost.title}}
                        </a>
                    </h2>

                    <p class="card-text post-body-text">
                        {{thePost.postContent}}
                    </p>


                    <div class="col post-actions-div">
                        {{!-- Post --}}
                            <div class="score-count-div">
                                <p class="score-count upvote-count">{{thePost.upCount.length}}</p>
                            </div>
                            <i class="bi bi-arrow-up-short post-icon h1 upvote-button {{#if (hasVoted thePost.upCount currUserObject._id)}}active-up{{/if}}" data-post-id="{{thePost._id}}"></i>
                            <div class="score-count-div">
                                <p class="score-count downvote-count">{{thePost.downCount.length}}</p>
                            </div>
                            <i class="bi bi-arrow-down-short post-icon h1 downvote-button {{#if (hasVoted thePost.downCount currUserObject._id)}}active-up{{/if}}" data-post-id="{{thePost._id}}"></i>

                        {{#if (eq thePost.user currUserObject.username)}}
                            <a data-bs-toggle="modal" data-bs-target="#edit-post-modal">
                                <i class="bi bi-pencil edit-icon post-icon h5 ms-4 post-edit-flag"></i>
                            </a>

                            <a data-bs-toggle="modal" data-bs-target="#delete-post-modal">
                                <i class="bi bi-trash post-icon h5 ms-4"></i>
                            </a>

                            <a data-bs-toggle="modal" data-bs-target="#lock-comments-modal">
                                <i class="bi bi-lock post-icon h5 ms-4"></i>
                            </a>
                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="comment-section">
                <h1 class="comment-section">Comments</h1>
                {{#if logged}}
                {{#unless thePost.lockedComments}}
                {{> comment-box}}
                {{/unless}}
                {{/if}}

               
                {{#unless thePost.comments.length}}
                {{>no-comments}}
                {{/unless}}
               
                <div id="comments">
                    {{#each thePost.comments}}
                    <div class="card post comment">
                        <div class="card-body" value={{_id}}>
                            <div class="container post-body-top-div">
                                <div class="group">
                                    <div class="dp-div">
                                        <img src="{{dpUrl}}" alt="">
                                    </div>
                                    <a href="/users/{{user}}/posts" class="text-decoration-none">
                                        <h3 class="post-username">{{user}}</h3>
                                    </a>
                                    {{#if isEdited}}
                                    <p class="edit-indicator">Edited</p>
                                    {{/if}}
                                </div>

                            </div>
                            <p class="card-text post-body-text">
                                {{commentContent}}
                            </p>
                            <div class="col post-actions-div">
                                <div class="score-count-div">
                                    <p class="score-count upvote-count">{{upCount.length}}</p>
                                </div>
                                <i class="bi bi-arrow-up-short post-icon h1 comment-upvote-button {{#if (hasVoted upCount ../currUserObject._id)}}active-up{{/if}}" data-comment-id="{{_id}}"></i>
                                <div class="score-count-div">
                                    <p class="score-count downvote-count">{{downCount.length}}</p>
                                </div>
                                <i class="bi bi-arrow-down-short post-icon h1 comment-downvote-button {{#if (hasVoted downCount ../currUserObject._id)}}active-up{{/if}}" data-comment-id="{{_id}}"></i>

                                {{#if ../logged}}
                                {{#unless ../thePost.lockedComments}}
                                <a data-bs-toggle="modal" data-bs-target="#reply-comment-modal" class="reply-comment-button" data-comment-id="{{_id}}">
                                    <i class="bi bi-reply post-icon h3"></i>
                                </a>
                                {{/unless}}
                                {{/if}}

                                {{#if (eq user ../currUserObject.username)}}
                                {{#unless ../thePost.lockedComments}}
                                <a data-bs-toggle="modal" data-bs-target="#edit-comment-modal" class="edit-comment-button" data-comment-id="{{_id}}">
                                    <i class="bi bi-pencil edit-icon post-icon h5 ms-4 post-edit-flag"
                                        value={{_id}}></i>
                                </a>

                                <a data-bs-toggle="modal" data-bs-target="#delete-comment-modal" class="delete-comment-button" data-comment-id="{{_id}}">
                                    <i class="bi bi-trash post-icon h5 ms-4"></i>
                                </a>
                                {{/unless}}
                                {{/if}}

                            </div>
                        </div>

                        {{#if replies.length}}
                        <div class="replies">
                            <div class="card post reply">
                                {{#each replies}}
                                
                                <div class="card-body" value={{_id}}>
                                    <div class="container post-body-top-div">
                                        <div class="group">
                                            <div class="dp-div">
                                                <img src="{{dpUrl}}" alt="">
                                            </div>
                                            <a href="/users/{{user}}/posts" class="text-decoration-none">
                                                <h3 class="post-username">{{user}}</h3>
                                            </a>
                                            {{#if isEdited}}
                                                <p class="edit-indicator">Edited</p>
                                            {{/if}}
                                        </div>

                                    </div>
                                    <p class="card-text post-body-text">
                                        <span class="reply-tag">
                                            <a href="/users/{{removeAt repliedTo}}/posts">
                                                {{repliedTo}}
                                            </a>
                                        </span>
                                        {{replyContent}}
                                    </p>
                                    <div class="col post-actions-div">
                                        <div class="score-count-div">
                                            <p class="score-count upvote-count">{{upCount.length}}</p>
                                        </div>
                                        <i class="bi bi-arrow-up-short post-icon h1 reply-upvote-button {{#if (hasVoted upCount ../../currUserObject._id)}}active-up{{/if}}" data-reply-id="{{_id}}"></i>
                                        <div class="score-count-div">
                                            <p class="score-count downvote-count">{{downCount.length}}</p>
                                        </div>
                                        <i class="bi bi-arrow-down-short post-icon h1 reply-downvote-button {{#if (hasVoted downCount ../../currUserObject._id)}}active-up{{/if}}" data-reply-id="{{_id}}"></i>
                                        <div>
                                        </div>

                                        {{#if ../../logged}}
                                        {{#unless ../../thePost.lockedComments}}
                                        <a data-bs-toggle="modal" data-bs-target="#reply-reply-modal" class="reply-reply-button" data-comment-id="{{../_id}}">
                                            <i class="bi bi-reply post-icon h3"></i>
                                        </a>
                                        {{/unless}}
                                        {{/if}}

                                        {{#if (eq user ../../currUserObject.username)}}
                                        {{#unless ../../thePost.lockedComments}}
                                        <a data-bs-toggle="modal" data-bs-target="#edit-reply-modal" class="edit-reply-button" data-comment-id="{{../_id}}" data-reply-id="{{_id}}">
                                            <i class="bi bi-pencil edit-icon post-icon h5 ms-4 post-edit-flag"
                                                value={{_id}}></i>
                                        </a>

                                        <a data-bs-toggle="modal" data-bs-target="#delete-reply-modal" class="delete-reply-button" data-comment-id="{{../_id}}" data-reply-id="{{_id}}">
                                            <i class="bi bi-trash post-icon h5 ms-4"></i>
                                        </a>
                                        {{/unless}}
                                        {{/if}}

                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}

                </div>
            </div>

            <!-- Marker Post edit modal -->
            
            <div class="modal fade modal-xl" id="edit-post-modal" tabindex="-1" aria-labelledby="editBioModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit-post-modal">Edit Post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <textarea name="title-field" id="edit-post-title-area" class="form-control"
                                rows="1"></textarea>
                        </div>
                        <div class="modal-body">
                            <textarea name="tag-field" id="edit-post-tag-area" class="form-control"
                                rows="1"></textarea>
                        </div>
                        <div class="modal-body">
                            <textarea name="body-field" id="edit-post-text-area" class="form-control"
                                rows="10"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="edit-post-save-changes" data-post-id="{{thePost._id}}">Save changes</button>
                        </div>

                        {{!-- Toast --}}
                        <div class="toast-container-post-edit position-fixed top-50 start-50 translate-middle">
                            <div id="posteditToast" class="toast align-items-center custom-toast border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    <div class="toast-body"></div>
                                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            

            <!-- Marker Reply to Comment modal -->
            
            <div class="modal fade modal-xl" id="reply-comment-modal" tabindex="-1" aria-labelledby="editBioModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reply-comment-modal-title"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <textarea name="text-field" id="reply-comment-text-area" class="form-control"
                                rows="10"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" id="create-comment-reply-save-changes" class="btn btn-primary" data-post-id="{{thePost._id}}">Save changes</button>
                        </div>
                    </div>
                </div>

                <div class="toast-container-reply-to-comment position-fixed top-50 start-50 translate-middle">
                    <div id="reply-to-comment-toast" class="toast align-items-center custom-toast border-0" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body"></div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Marker Reply to Reply modal -->
            
            <div class="modal fade modal-xl" id="reply-reply-modal" tabindex="-1" aria-labelledby="editBioModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reply-reply-modal-title"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <textarea name="text-field" id="reply-reply-text-area" class="form-control"
                                rows="10"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" id="create-reply-reply-save-changes" class="btn btn-primary" data-post-id="{{thePost._id}}">Save changes</button>
                        </div>
                    </div>
                </div>

                <div class="toast-container-reply-to-comment position-fixed top-50 start-50 translate-middle">
                    <div id="reply-to-reply-toast" class="toast align-items-center custom-toast border-0" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body"></div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Edit comment modal -->
            
            <div class="modal fade modal-xl" id="edit-comment-modal" tabindex="-1"
                aria-labelledby="editBioModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit-post-modal">Edit comment</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <textarea name="text-field" id="edit-comment-text-area" class="form-control"
                                rows="10"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" id="edit-comment-save-changes" class="btn btn-primary" data-post-id="{{thePost._id}}">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit reply modal -->
            
            <div class="modal fade modal-xl" id="edit-reply-modal" tabindex="-1"
                aria-labelledby="editBioModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit-reply-modal-title"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <textarea name="text-field" id="edit-reply-text-area" class="form-control"
                                rows="10"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" id="edit-reply-save-changes" class="btn btn-primary" data-post-id="{{thePost._id}}">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Marker Post delete modal -->
            <form action="">
                <div class="modal fade modal-md" id="delete-post-modal" tabindex="-1"
                    aria-labelledby="editBioModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Delete Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="delete-post">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="modal fade modal-md" id="lock-comments-modal" tabindex="-1"
                aria-labelledby="lockCommentsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            {{#if thePost.lockedComments}}
                            <h5 class="modal-title" id="lock-comments-modal">Unlock comment section?</h5>
                            {{else}}
                            <h5 class="modal-title" id="lock-comments-modal">Lock comment section?</h5>
                            {{/if}}
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="lock-comments-btn" data-post-id="{{thePost._id}}">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Marker Comment Delete modal -->
            <form action="">
                <div class="modal fade modal-md" id="delete-comment-modal" tabindex="-1"
                    aria-labelledby="editBioModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Delete Comment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="delete-comment" data-post-id="{{thePost._id}}">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        
            <!-- Marker Reply delete modal -->
            <form action="">
                <div class="modal fade modal-md" id="delete-reply-modal" tabindex="-1"
                    aria-labelledby="editBioModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-post-modal">Delete Reply</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="delete-reply" data-post-id="{{thePost._id}}">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>



    </div>
</div>